html{
    scroll-behavior: inherit;
}
body{
    background: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.m-heading{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.text-white{
    color:aqua
}
.main-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    Background-image:url(Audi-2026-Formula-1-car-1.webp);
    Background-attachment: fixed;
    background-size: cover;
}
.main_row h1{
    font-size: 5rem;
}
main_row img{
    width: auto;
    height: 100vh;
}